/* Styling the div grid */
div {
    padding: 15px, 5px, 5px, 15px;
    border-color: black;
    border-style: solid;
    border-width: 5px;

}

.container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    border-style: none;
    border-color: none;
    padding: 50px, 10px, 50x, 10px;

}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}