/* Styling the div grid */
div {
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding: 50px;
}

.container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    border-style: none;
    border-color: none;
    padding: 50px;
    

}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}